---

- name: include os specific vars
  include_vars: '{{ item }}'
  with_first_found:
    - '{{ ansible_distribution }}_{{ ansible_distribution_major_version }}.yml'
    - '{{ ansible_os_family }}.yml'
  tags:
    - 'role::icinga2_client'
    - 'role::icinga2_client:config'

- import_tasks: installation.yml
  tags:
    - 'role::icinga2_client'
    - 'role::icinga2_client:install'

- import_tasks: configuration.yml
  tags:
    - 'role::icinga2_client'
    - 'role::icinga2_client:config'

- import_tasks: certificates.yml
  tags:
    - 'role::icinga2_client'
    - 'role::icinga2_client:cert'
