/**
 *  {{ ansible_managed }}
 */

// todo satellite zone

object Zone "global-templates" {
  global = true
}

object Endpoint "{{ icinga2_client_master_fqdn }}" {
  host = "{{ icinga2_client_master_fqdn }}"
}

object Zone "{{ icinga2_client_master_fqdn }}" {
  endpoints = [ "{{ icinga2_client_master_fqdn }}" ]
}

object Endpoint "{{ inventory_hostname }}" {
}

object Zone "{{ inventory_hostname }}" {
  endpoints = [ "{{ inventory_hostname }}" ]
  parent = "{{ icinga2_client_master_fqdn }}"
}
